

:root {
    --col-main: ;
    --col-hl: ;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: "";
    font-style: normal;
    overflow-x: hidden;
    background: ;
}

body::-webkit-scrollbar {
    width: 0;
}